<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Form Information</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

       
           h1,h2{
                color: white; 
         }

         .mb{
             margin-bottom:10%;
         }

          /*Header*/

          .nav-masthead .nav-link {
                padding: .25rem 0;
                font-weight: 700;
                color: rgba(255, 255, 255, .5);
                background-color: transparent;
                border-bottom: .25rem solid transparent;
            }

            .nav-masthead .nav-link:hover,
            .nav-masthead .nav-link:focus {
                border-bottom-color: rgba(255, 255, 255, .25);
            }

            .nav-masthead .nav-link + .nav-link{
                margin-left: 1rem;
             
            }

            .nav-masthead .active {
                color: white;
                border-bottom-color: white;
   
    }

    .btone {
        position: relative;
        top: 50px;
        display: block;
        padding: 11px 13px;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        background-color: lightblue;
        margin: auto;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 15px;
    }
    .btone {
        width: 46%;
        line-height: 2em;
        margin: auto;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
    }
    .btone:hover {
        color: steelblue;
        background: powderblue;
    }
</style>

<body class="bg-dark text-center text-white">
    <!-- Header -->
    <div class="d-flex w-100 h-100 p-3 mx-auto text-white flex-column">
       <header class="mb-10">
         <div>
             <h3 class="float-md-start mb-0">Check-In</h3>
             <nav class="nav nav-masthead justify-content-center float-md-end">
               <a class="nav-link active" aria-current="page" href="admin_list_return">Back</a>
               <a class="nav-link" aria-current="page" href="home_return">logout</a>
             <a class="nav-link" href="userinfo.html">Profile</a>
           </nav>
         </div>
       </header> <br>
             
          
                <script>
                    var today = new Date();
                    
                    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+'-'+today.getHours()+'.'+today.getMinutes()+'.'+today.getSeconds();
                    </script>
              
                 <center>
                    <form action="addQuestion" method="post">
                        <script>
                            document.write('<input name="date" type="text" value="'+ date+'" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">');
                       </script>
                        <h1>New Question</h1>  <%form.forEach((item)=>{%>
                        
                            <input type="text" name="name" value="<%=item.ID%>" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">
                 
                            <%});%>
                            <table>
                            <tr>
                                
                                    <th>Question Apperance </th>
                                  
                                   
                                </tr>
                                
                                <tr>
                                  <td>
                                    <select name="qNumber" id="qNumber" onchange="questionNumber()" style=" color: white; border: none; background: none;">
                                        <script>
                                            for (var d = 1; d <= 50; d++) {
                                                document.write("<option>" + d + "</option>");
                                            }
            
                                        </script>
                                    </select>
                                </td>  
                                    </tr>
                                    <tr>
                                
                                        <th>Question Type</th>
                                      
                                       
                                    </tr>
                                    <tr>
                                        <td><select name="qType" id="qType"onchange="typeSelection()"
                                            default="text"
                                            style="background: none; border:none; color: white;">
                                           
                                            <option value="text" id="text">Text</option>
                                            <option value="image" id="image">Image</option>
                                            <option value="radial" id="radial">Radial</option>
                                        </select></td>
                                <tr>

                                    <th>Question Content</th>


                                </tr>
                                <tr>
                                    <td> <textarea name="qContent" class="form-control"
                                            id="exampleFormControlTextarea1" rows="3"
                                            style="width: 200%;" placeholder="Enter Question Here"></textarea></td>

                                </tr>
                                <tr>                                          
                                    <th id="imageHeader"></th>
                                </tr>
                                <tr>
                                    <td id="imageUpload">
                                    </td>
                                </tr>

                                <tr>                                         
                                    <th id="radialNumHeader"></th>
                                </tr>
                                <tr>
                                    <td id="radialNum">
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResOneH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResOne" >
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResTwoH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResTwo" >
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResThreeH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResThree" >
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResFourH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResFour">
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResFiveH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResFive">
                                    </td>
                                </tr>
                                <tr>                                         
                                    <th id="radialResSixH"></th>
                                </tr>
                                <tr>
                                    <td id="radialResSix" >
                                    </td>
                                </tr>

                            </table>
                                <!-- Output table-->


                                <script>
                                    function typeSelection() {
                                        document.getElementById('radialResOneH').innerHTML = '';
                                        document.getElementById('radialResOne').innerHTML = '';
                                        document.getElementById('radialResTwoH').innerHTML = '';
                                        document.getElementById('radialResTwo').innerHTML = '';
                                        document.getElementById('radialResThreeH').innerHTML = '';
                                        document.getElementById('radialResThree').innerHTML = '';
                                        document.getElementById('radialResFourH').innerHTML = '';
                                        document.getElementById('radialResFour').innerHTML = '';
                                        document.getElementById('radialResFiveH').innerHTML = '';
                                        document.getElementById('radialResFive').innerHTML = '';
                                        document.getElementById('radialResSixH').innerHTML = '';
                                        document.getElementById('radialResSix').innerHTML = '';
                                        document.getElementById('imageHeader').innerHTML = '';
                                        document.getElementById('imageUpload').innerHTML = '';
                                        document.getElementById('radialNumHeader').innerHTML = '';
                                        document.getElementById('radialNum').innerHTML = '';

                                        var type;
                                        type = document.getElementById('qType').value;
                                        if(type=="image"){
                                        var imageType = '';
                                        imageType = '<input type="file" id="imagePrompt" name="imagePrompt">';
                                        var imageHeader = 'Select Image File';

                                        document.getElementById('imageHeader').innerHTML = imageHeader;
                                        document.getElementById('imageUpload').innerHTML = imageType;
                                    }
                                        else if(type=="radial"){
                                            var radialNum = '';
                                        radialNum= '<select name="radialNumber" id="radialNumber"value="2"onchange="radialNum()" style="background: none; border:none; color:white;">   <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                        var radialNumHeader = 'Select Number of Radials';

                                        document.getElementById('radialNumHeader').innerHTML = radialNumHeader;
                                        document.getElementById('radialNum').innerHTML = radialNum;

                                        var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;
                                        }
                                        
                                    }
                                </script>

                                <script>
                                    function radialNum(){
                                        document.getElementById('radialResOneH').innerHTML = '';
                                        document.getElementById('radialResOne').innerHTML = '';
                                        document.getElementById('radialResTwoH').innerHTML = '';
                                        document.getElementById('radialResTwo').innerHTML = '';
                                        document.getElementById('radialResThreeH').innerHTML = '';
                                        document.getElementById('radialResThree').innerHTML = '';
                                        document.getElementById('radialResFourH').innerHTML = '';
                                        document.getElementById('radialResFour').innerHTML = '';
                                        document.getElementById('radialResFiveH').innerHTML = '';
                                        document.getElementById('radialResFive').innerHTML = '';
                                        document.getElementById('radialResSixH').innerHTML = '';
                                        document.getElementById('radialResSix').innerHTML = '';

                                        var amount;
                                        amount = document.getElementById('radialNumber').value;

                                        if(amount=="2"){
                                            var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;

                                        }else if(amount=="3"){

                                            var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;

                                        var radialThreeH = 'Radial Three Response';
                                            var radialThree= '<textarea name="radialThree" class="form-control" id="RadialThree" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResThreeH').innerHTML = radialThreeH;
                                        document.getElementById('radialResThree').innerHTML = radialThree;
                                        }else if(amount=="4"){

                                            var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;

                                        var radialThreeH = 'Radial Three Response';
                                            var radialThree= '<textarea name="radialThree" class="form-control" id="RadialThree" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResThreeH').innerHTML = radialThreeH;
                                        document.getElementById('radialResThree').innerHTML = radialThree;

                                        var radialFourH = 'Radial Four Response';
                                            var radialFour= '<textarea name="radialFour" class="form-control" id="RadialFour" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResFourH').innerHTML = radialFourH;
                                        document.getElementById('radialResFour').innerHTML = radialFour;
                                            
                                        }else if(amount=="5"){

                                            var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;

                                        var radialThreeH = 'Radial Three Response';
                                            var radialThree= '<textarea name="radialThree" class="form-control" id="RadialThree" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResThreeH').innerHTML = radialThreeH;
                                        document.getElementById('radialResThree').innerHTML = radialThree;

                                        var radialFourH = 'Radial Four Response';
                                            var radialFour= '<textarea name="radialFour" class="form-control" id="RadialFour" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResFourH').innerHTML = radialFourH;
                                        document.getElementById('radialResFour').innerHTML = radialFour;

                                        var radialFiveH = 'Radial Five Response';
                                            var radialFive= '<textarea name="radialFive" class="form-control" id="RadialFive" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResFiveH').innerHTML = radialFiveH;
                                        document.getElementById('radialResFive').innerHTML = radialFive;
                                            
                                        }else if(amount=="6"){

                                            var radialOneH = 'Radial One Response';
                                            var radialOne= '<textarea name="radialOne" class="form-control" id="RadialOne" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResOneH').innerHTML = radialOneH;
                                        document.getElementById('radialResOne').innerHTML = radialOne;

                                        var radialTwoH = 'Radial Two Response';
                                            var radialTwo= '<textarea name="radialTwo" class="form-control" id="RadialTwo" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResTwoH').innerHTML = radialTwoH;
                                        document.getElementById('radialResTwo').innerHTML = radialTwo;

                                        var radialThreeH = 'Radial Three Response';
                                            var radialThree= '<textarea name="radialThree" class="form-control" id="RadialThree" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResThreeH').innerHTML = radialThreeH;
                                        document.getElementById('radialResThree').innerHTML = radialThree;

                                        var radialFourH = 'Radial Four Response';
                                            var radialFour= '<textarea name="radialFour" class="form-control" id="RadialFour" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResFourH').innerHTML = radialFourH;
                                        document.getElementById('radialResFour').innerHTML = radialFour;

                                        var radialFiveH = 'Radial Five Response';
                                            var radialFive= '<textarea name="radialFive" class="form-control" id="RadialFive" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResFiveH').innerHTML = radialFiveH;
                                        document.getElementById('radialResFive').innerHTML = radialFive;

                                        var radialSixH = 'Radial Six Response';
                                            var radialSix= '<textarea name="radialSix" class="form-control" id="RadialSix" rows="1"style="width: 200%;" placeholder="Enter Raidial Response Option Here"></textarea>';
                                        document.getElementById('radialResSixH').innerHTML = radialSixH;
                                        document.getElementById('radialResSix').innerHTML = radialSix;
                                            
                                        }
                                    }
                                </script>


                        
                     <input type="submit" name="submit" value="Return to Terminal"
                     style="color: black; margin: 5px;"class="btn btn-lg btn-secondary fw-bold border-white bg-white"> <br>
                 <input type="submit" name="submit" value="Submit and Add or View Next Question"
                 style="color: black; margin: 5px;"class="btn btn-lg btn-secondary fw-bold border-white bg-white">
 </form>
                 </center>
             
               
             </body>
             
             </html>