<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Administator Terminal </title>
    <link rel="stylesheet" href="public/css/mystyle.css">
</head>

<body>
    <!--admin list-->
    <center>
        <h2> Patient Check-In Administrator Terminal <br></h2>
        <a href="new_user" class="btone">Add User<br></a>
        <a href="remove_user" class="bttwo">Remove User<br></a>
        <a href="form_list" class="btthree">Available Patient Forms<br></a>
        <a href="new_form" class="btfour">Create New Patient Form<br></a>
        <a href="#" class="btfive">Software Updates<br></a>
    </center>

    <!--user information icon-->
    <div class="container">
        <div class="topright">
            <a href="accountInfoLogin">
                <img src="/public/css/userinfo.png" alt="User Info" width="90" height="85">
            </a>
        </div>
    </div>
    <!--Exit button-->
    <div class="close">
        <a href="home_return" class="closebutton">Exit</a>
    </div>

</body>

</html>