<!DOCTYPE html>
    <html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
        <title>Administator Terminal </title>
        <link rel="stylesheet" href="public/css/mystyle.css">
        </head>
        <body>
            <!--admin list-->
            <center>
                <h2> Patient Check-In Administator Terminal <br></h2>
                <a href="admin_selection" class="btone">Patient List<br></a>
                <a href="#" class="bttwo">Forum List<br></a>
                <a href="#" class="btthree">Language<br></a>
                <a href="#" class="btfour">Auhtorized Users<br></a>
                <a href="#" class="btfive">Software Updates<br></a>    
            </center>
           
            <!--user information icon-->
            <div class="container">
            <div class="topright">
            <a href="userinfo.html">
            <img src="/public/css/userinfo.png" alt="User Info" width="90" height="85">
            </a>
            </div>
            </div>
          
            <!--Exit button-->
            <div class="close">
                <a href="home_return" class="closebutton">Exit</a>
            </div>

        </body>
       
    </html>