<!DOCTYPE html>
<html>
    <style>
        .container {
            position: relative;
        }
        .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
        }
        
        img {
            width: 20%;
            height: auto;
            opacity: 0.3;
        }
    </style>
        <head>
            <!--Temporary style found here: https://www.codecademy.com/forum_questions/55ad460dd3292f1a8200050c-->
            <link rel="stylesheet" href="/public/css/EnterInfoScreen.css">
            <title>Launch Screen</title>
        </head>

        <body>
            <center>
                <h1>
                    Welcome to our website!
                </h1>
            </center>
            
            <!--This button will take the user to our first question.-->
            <center>
                <div id="button"><a href="/public/css/Q1.html">Get Started</a></div>
            </center>
            <div class="container">
                <div class="bottomright">                    
                        <a href="login_page">
                            <img src="/public/css/Cogs.png" alt="Pin" width="90" height="85">
                        </a>                     
                </div>
            </div>
        </body>

    

</html>