<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Auhtorized User</title>
    <style>
        body {
            background-color: seashell;
            margin: auto;

        }

        h1 {
            color: navy;
        }

        .closebutton {
            position: relative;
            top: -264px;
            left: 11px;
            float: left;
            padding: 13px;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            color: cadetblue;
            background-color: lightblue;
            margin: auto;
            outline: none;
            cursor: pointer;
        }

        a {
            display: block;
            width: 9%;
            line-height: 1em;
            margin: auto;
            text-align: center;
            text-decoration: none;

        }

        a:hover {
            color: steelblue;
            background: powderblue;
        }

        .btone {
            position: relative;
            top: 50px;
            display: block;
            padding: 11px 13px;
            text-align: center;
            text-decoration: none;
            color: cadetblue;
            background-color: lightblue;
            margin: auto;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 15px;
        }

        .btone {
            width: 46%;
            line-height: 2em;
            margin: auto;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;

        }

        .btone:hover {
            color: steelblue;
            background: powderblue;
        }
    </style>




</head>

<body>
    <center>
        <h1>
            Enter User information
        </h1>

        <div id="User">
            <form method="post" action="addUser">
                <table>
                    <tr>
                        <td>
                            <label for="fname" style="font-size:larger;">First name:</label>
                        </td>
                        <td>
                            <input type="text" id="fname" name="Fname" style="margin: 5px;">
                        </td>
                        <td>
                            <label for="lname" style="font-size: larger;">Last name:</label>
                        </td>
                        <td>
                            <input type="text" id="lname" name="Lname" style="margin: 5px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="emal" style="font-size: larger;">Email: </label>
                        </td>
                        <td>
                            <input type="email" id="email" name="Email" style="margin: 5px;">
                        </td>
                        <td>
                            <label for="birthday" style="font-size: larger;">Birthday:</label>
                        </td>
                        <td>
                            <input type="date" id="birthday" name="Birthday" style="margin: 5px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone" style="font-size: larger;">Phone:</label>
                        </td>
                        <td>
                            <input type="text" id="phone" name="Phone" style="margin: 5px;">
                        </td>
                        <td>
                            <lable for="gender" style="font-size: larger;">Gender:</label>
                        </td>
                        <td>
                            <input type="text" id="gender" name="Gender" style="margin: 5px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="username" style="font-size: larger;">Username:</label>
                        </td>
                        <td>
                            <input type="text" id="username" name="Username" style="margin: 5px;">
                        </td>
                        <td>
                            <lable for="password" style="font-size: larger;">Password:</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="Password" style="margin: 5px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="age" style="font-size: larger;">Age:</label>
                        </td>
                        <td>
                            <input type="text" id="age" name="Age" style="margin: 5px;">
                        </td>
                        <td>
                            <label for="profession" style="font-size: larger;"> Role:</label>
                        </td>
                        <td>
                            <select name="Profession" style="margin: 5px;">
                                <option valus="none" selected> None</option>
                                <option value="Doctor"> Doctor</option>
                                <option value="Nurse"> Nurse</option>
                                <option value="Admin"> Admin</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="submit" class="btone">

            </form>
        </div>
    </center>

    <!--Exit button-->
    <div class="close">
        <a href="admin_list_return" class="closebutton">Back</a>
    </div>

</body>


</body>