<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }
    </style>

<body class="bg-dark">

    <h1 class="text-upercase text-light font-monospace">
        Check-In
    </h1>

    <form action="accountChanges" method="post" id="my_form">
        <%data.forEach((item)=>{%>
            <div class="container">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                            class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>
                                                <%= item.Fname%>
                                                    <%= item.Lname%>
                                            </h4>
                                            <p class="text-secondary mb-1">
                                                <%= item.Role%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <input type="submit" class="btn" value="Home" name="Home">
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                                        <input type="submit" class="btn" value="Edit Profile" name="Edit">
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                                        <input type="submit" class="btn" value="Reset Password" name="reset">
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <a class="btn" href="home_return">SignOut</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4" style="margin-left: 200px;">

                            <center class="w-100 p-2 text-white">

                                <!--This will be a field that will allow users to login.-->
                                <div id="User">
                                    <form method="post" action="passReset">
                                        <h1 class="display-6 mb-3 fw-normal text-white">PASSWORD RESET</h1>

                                        <label for="username" class="fs-4 text" style="font-size:larger;">Username:
                                        </label><br>
                                        <%data.forEach((item)=>{%>
                                            <input class="fs-4 text-light" type="text" name="username"
                                                value="<%= item.Username%>" readonly
                                                style="background: none; border: none; margin: 0%; text-align: center;"><br>
                                            <%});%>

                                                <label class="fs-4 fw-light" for="oldPass" style="font-size:larger;">Old
                                                    Password: </label><br>
                                                <input class="form-control" type="password" id="oldPass"
                                                    name="oldPass"><br>


                                                <label class="fs-4 fw-light" for="newPass" style="font-size:larger;">New
                                                    Password: </label><br>
                                                <input class="form-control" type="password" id="newPass"
                                                    name="newPass"><br>

                                                <!-- conditional code for submit button  and redirecting pages to doctor ,nurse and admin-->
                                                <input type="Submit" value="Submit" class="w-100 btn btn-lg btn-primary"
                                                    style="margin: 5px;">
                                    </form>
                                </div>
                            </center>
                        </div>


                        <!--  <div class="close">
        <a href="usernameReturn" class="closebutton">Exit</a>
    </div>-->
                    </div>
                </div>
</body>

</html>