<!DOCTYPE html>
<html>

<head>
    <title>
        Q1
    </title>
</head>

<style>
    body {
        background-color: seashell;
        margin: auto;

    }

    h1 {
        color: navy;
    }

    /* link to Patient List */
    .btone {
        position: relative;
        top: 50px;
        display: block;
        padding: 11px 13px;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        background-color: lightblue;
        margin: auto;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 15px;
    }

    .btone {
        width: 46%;
        line-height: 2em;
        margin: auto;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;

    }

    .btone:hover {
        color: steelblue;
        background: rgb(129, 132, 133);

    }

    label,
    p {
        font-size: larger;
    }
</style>

<body>
    <center>
        <!--Creates form for the patient's name.-->
        <div id="Name">
            <form action="qOne" method="post"> 
                <br>
            <label>Have you used our system before?</label><br>
            <input type="radio" value="yes" name="previous">
            <input type="radio" value="no" name="previous" checked="checked"><br>
            <label for="yes">Yes</label>
            <label for="no">No</label>
            
            <p>Please enter your name.<br></p>
            
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>
                <input type="submit" class="btone" value="Submit">
            </form>
        </div>
    </center>
</body>

</html>